nav{
    position:relative;
    top:-20px;
    display:flex;
    background-color: black;
    justify-content: space-evenly;
    width:100%;
}

.banner{
    width:100%;
    height:auto
}



.bikeDisplay{
    background-color: #e5e4e9;
    width:100%;
    min-height:80vh;
    display:flex;
    flex-wrap: wrap;
    

}

.mainContent{
    position:relative;
    top:-10px;
    display:flex;
    
}

.shoppingCart{
   
    background-color: aqua;
    opacity:20%;
    display:none;
    flex-direction: column;
    height:80vh;
    width:30%;
    right:50px;
    position:fixed;
}


.sideNav{
    background-color: black;
    width:10%;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:10px;
    border-right: solid 2px red;

}

.footer{
    position:fixed;
    bottom:15px;
    
}

.splashVideo {
    width:100%;
    height:100%;
    opacity:60%;
    z-index: -1;
 }

.splashBox{
 
    display:flex;
    flex-direction: column;
    position:absolute;
    justify-content: center;
    left:0;
    right:0;
    width:100%;
    text-align: center;
    z-index:100;
}

h1{
    font-size:10vw;
    color:#69BE28;
    text-shadow: 1px 1px 2px black;
    
}

h2{
    font-size:2vw;
    text-shadow: 1px 1px 2px black;

    color:white;
}

.bikeBanner{
    width:85%;
    height:auto;
}

.bikeBannerbg{
    width:100%;
    background-color: black;
}

.bannerTitle{
    position:relative;
    height:0px;
    top: 40%;
    left:8%;
    color:white;
    font-size:5vh;
    font-weight: bolder;
    text-shadow: 1px 1px 2px white;
    font-style: italic;
    text-decoration-line: underline;

}

.bikeOverview{
    position:relative;
    top:
}

a:hover{
    background-color: aqua;
}

a:visited{
   color:black;
   text-decoration: none;

}

a{
    color:black;
    text-decoration: none;
}