.topSticky{
    position:sticky;
    top:0px;
    z-index:100;
    display:flex;
    flex-direction: column;
}
nav{
    position:relative;
    top:0px;
    display:flex;
    background-color: black;
    justify-content: space-evenly;
    width:100%;
    border-bottom:solid 1px #69BE28
    
}

.banner{
    width:100%;
    height:auto;
 
}

.bannerDiv{
    margin-bottom: -3px;
}


.bikeDisplay{
    
    background-color: #E5E4E9;
    width:100%;
    min-height:80vh;
    display:flex;
    flex-wrap: wrap;
    align-items:baseline;
    justify-content: center;
    
}
.bikePageDisplay{
    background-color: #e5e4e9;
    width:100%;
    min-height:80vh;
    display:flex;
    flex-wrap: wrap;
 
    justify-content: center;
    
}

.bikeGrid{
    width:50vw;
    display:flex;
    flex-wrap:wrap;
}

.mainContent{
    position:relative;
    top:0px;
    display:flex;
    
}

.shoppingCart{
   
    background-color:#E5E4E9;
    opacity:100%;
    display:none;
    flex-direction: column;
    height:100vh;
    width:33%;
    right:0px;
    top:0px;
    position:fixed;
    overflow-y:auto;
    padding:30px;
    z-index:101
}


.sideNav{
    color:white;
    background-color: black;
    width:10%;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:10px;
    border-right: double 10px #69BE28

}

.sideNavHeader{
    font-size: 1.25rem;
    font-weight:bolder;
    font-stretch:extra-expanded;
    margin:20px;
    font-style:normal;
    padding:3px;
    color:#69BE28
}

.sideNavLink{
    border-bottom: solid 5px transparent;
    transition:ease .25s
    


}

.sideNavLink:hover{
    cursor:grab;
    border-bottom: solid 5px #69BE28

}

.footer{
    position:fixed;
    bottom:15px;
    
}

.splashVideo {
    width:100%;
    height:100%;
    opacity:60%;
    z-index: -1;
 }

.splashBox{
 
    display:flex;
    flex-direction: column;
    position:absolute;
    justify-content: center;
    left:0;
    right:0;
    width:100%;
    text-align: center;
    z-index:100;
}

h1{
    font-size:10vw;
    color:#69BE28;
    text-shadow: 1px 1px 2px black;
    
}

h2{
    font-size:2vw;
    text-shadow: 2px 2px 3px black;

    color:white;
}

.bikeBanner{
    width:85%;
    height:auto;
}

.bikeBannerbg{
    width:100%;
    background-color: black;
}

.bannerTitle{
    position:relative;
    height:0px;
    top: 40%;
    left:8%;
    color:white;
    font-size:5vh;
    font-weight: bolder;
    text-shadow: 1px 1px 2px white;
    font-style: italic;
    text-decoration-line: underline;

}


a:hover{
    border-bottom: solid 5px #69BE28
}

a:visited{
   color:black;
   text-decoration: none;

}

a{
    color:black;
    text-decoration: none;
    border-bottom: solid 5px transparent;
    font-size: 1.25rem;

}

.bikeTop{
    display:flex;
    justify-content: space-between;
width:80vw;
height:50vh;
}



.bikeOverview{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px;
    font-size:2.5vh;
    overflow: auto;
}

.bikeBottom{
 display:flex;
 justify-content:space-evenly;
 align-items: center;
 height:50vh;
}

.bikeThumbDiv{
    background-color: #E5E4E9;
    border:solid 2px black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px;
}

.thumbName{
    color:black;
    margin:3px;
}

.thumbPrice{
    color:rgb(102, 102, 102);
    font-size: 0.75rem;
    font-style: italic;
}

.rotatingImg{
    height:50%;
    width:auto;
    border:solid 2px black
}

.rotatingImgNav{
    display:flex;
    justify-content: center;
    gap:20px;
    font-size: 1.5rem;
}

.featureList{
    font-size:1.75vh;
    margin:20px;

}

.featureLeft{
    height:100%;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.featureLeftCont{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


nav > .navLeft > a {
    color:white;

}

nav > .navLeft > a:visited {
    color:white;

}

nav{
    color:white;
    display:flex;
    justify-content: space-between;
    
}

.navLeft{
    display:flex;
    width:5vw;
    justify-content: space-between;
    margin-left:1vw;
}

.navRight{
    display:flex;
    width:30vw;
    justify-content: space-between;
}

.rotatingImgNavBtn{
    background-color: #E5E4E9;
font-size: 2rem;
padding:0px;
border:none;
margin:0px;
}

.bikePageATC{
    font-size: 2rem;
    border-bottom: solid 5px transparent;

}

.bikePageATC:hover{
    cursor:grab;
    border-bottom: solid 5px #69BE28;

}

.rotatingImgNavBtn:hover{
    background-color: #69BE28;
    cursor:grab;

    }


.navInput{
    height:1.5rem;
    width:10vw;
    border:none;
    margin:5px;
}

.navCartBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size:1.25rem;
    border-bottom: solid 5px transparent;
    margin-right:1vw;

}

.navCartBtn:hover{
    border-bottom: solid 5px #69BE28;
    cursor: grab
}

.cartIcon{
    font-size: 1.25rem;
}

.cartCounter{
    display:flex;
    font-size: 1.25rem;;
    background-color: #69BE28;
    color: black;
    justify-content: center;
    align-items: center;
    width:1.75rem;
    height:1.75rem;;
    border-radius: 15%;
    user-select: none;
}


.cartLeft{
    display:flex;
}

.cartIncDec{
    display:flex;
    font-size: 2rem;
    justify-content: left;
    align-items: center;
}

.cartThumb{
    background-color: rgba(241, 241, 241, 0.877);
 
        width:10vw;
    
}

.cartBikeName{
    font-size: 1.25em;
}

.incdecCounter{
    display:flex;
    font-size: 0.70em;
    justify-content: center;
    align-items: center;;
    background-color: white;
    width:1.25em;
    height:1.25em;
    user-select: none;
}

.cartBtn:hover{
    cursor:grab;
}

.cartHeader{
    font-size:2.5em;
    display:flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.itemInCart{
    display:flex;
    justify-content: space-between;
    width:40rem;
    background-color:  rgba(241, 241, 241, 0.877);
    border-radius: 2%;
    margin-bottom: 0.4em;
}

.subtotal{
    margin-top: 2%;
    font-size: 0.9em;
}

.checkout{
    margin-top: 2%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width:40rem;
    height:5em;
    background-color: #adcf92;
    transition:ease 0.25s
    
}

.checkout:hover{
    cursor:grab;
    background-color:#69BE28    
    }

.emptyBag{
    height:75vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

img{
    height:100%;
    width:auto;
}

.cartLeftInfo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 5px;
}

.cartRight{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    user-select: none;
}

.removeAllBtn:hover{
    color:black;
    cursor:grab;
}

.removeAllBtn{
    font-size:0.8em;
    font-style: italic;
    margin: 3px;
    color:rgb(63, 63, 63);
    user-select: none;
}

.xbutton:hover{
cursor:grab;
color:#69BE28    
}

.splashLink{
    font-size: 4em;
    color:white;
    font-weight:500;
    transition:ease 0.25s
}

.splashLink:hover{
    cursor:grab;
background-color: #69BE28;
color:black;
}

.hiddenDiv{
    background-color: transparent;
    display:flex;
    height:100vh;
    width:65%;
    left:0px;
    top:0px;
    position:fixed;
   
    z-index:999
}