nav{
    display:flex;
    background-color: lightblue;
    justify-content: space-evenly;
    width:500px;
}

.bikeDisplay{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    

}

.mainContent{
    display:flex;
}